# Flutter/Dart
**.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
/build/
/android/.gradle/
/android/app/build/

# Android
**/android/**/gradle-wrapper.properties

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/Pods/
**/ios/**/*.xcworkspace

# Environnement
.env
