# Flutter/Dart
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/android/app/helloworld-keystore.jks

# Android
**/android/**/build/
**/android/**/local.properties
**/android/**/*.keystore
**/android/**/key.properties

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/DerivedData/
**/ios/**/Pods/
**/ios/**/.symlinks/

# IDE
.idea/
*.swp
*.swo
android/key.properties
android/app/*.jks
*.jks
keystore.base64
android/key.properties
android/app/*.jks
*.jks
keystore.base64
